.upload_page {
    margin-top: 50px;
  }
  
  .upload_text {
    font-size: 24px; 
    margin-bottom: 20px;
  }
  
  .upload_button {
    margin-top: 20px;
    padding: 10px 20px; 
    font-size: 18px; 
  }
  
  .course-name-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Adjust as needed */
  }
  
  .course-name-label {
    margin-right: 10px; /* Adjust as needed */
  }
