body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.course-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.search-bar input:focus {
  border-color: #007bff;
}

.search-icon {
  font-size: 20px;
  color: #aaa;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.course-card {
  width: calc(25% - 20px);
  min-width: 290px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

.course-card:hover {
  background-color: #e0e0e0;
}

.new-course-card {
  min-width: 290px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #007bff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.new-course-card:hover {
  background-color: #0056b3;
}

.progress-bar {
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar-inner {
  height: 100%;
  float: left;
}

.overall-progress {
  background-color: #ccc !important;
}

.next-due-progress {
  background-color: #4caf50 !important;
  min-height: -webkit-fill-available;
}

.new-course-text {
  font-size: 28px;

}