.upload-section,
.exams-section {
  margin-bottom: 20px;
}

.pdf-viewer {
  display: none;
}
/* ExamsPage.css */
#exams-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#exam-list {
  list-style: none;
  padding: 0;
  width: 100%;
  margin-top: 20px;
}

#exam-list li {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

#exam-list li:hover {
  background-color: #f0f0f0;
}

#pdf-viewer {
  width: 100%;
  margin-top: 20px;
}
