.header-container {
    background-color: #2b2d42;
    max-width: 100% !important;
    height: 8vh !important;
    padding: 10px;
}

.header-text {
    color: #edf2f4 !important;
}

.header-navbar {
    width: 100%;
    --bs-navbar-padding-y: 0px !important;
    /* flex-grow: 0 !important; */
}

#basic-nav-dropdown {
    color: #edf2f4;
    /* font-weight: bold; */
}

.login-button {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20px !important;
    border-width: 2px !important;
    border-color: #edf2f4 !important;
    background-color: transparent !important;
    width: 100px !important;
    max-width: 100px !important;
    min-height: max-content !important;
}

.login-button:hover {
    background-color: #edf2f4 !important;
    color: black !important;
}