.account-setup h6,
.queries h6,
.response-time h6,
.cost-to-start h6 {
  color: gray; 
  margin: 0;
  padding: 20px 0;
}

.pricing-info {
  display: flex;
  justify-content: space-between; 
  position: relative;
  padding: 50px; 
}

.pricing-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.horizontal-bar, .vertical-bar {
  margin: 0 auto; 
}

.account-setup, .queries, .cost-to-start, .response-time {
  margin-bottom: 20px; 
}

.horizontal-bar {
  position: absolute;
  top: 50%;
  left: 0; 
  right: 0; 
  height: 2px;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}

.learn-more-button {
  padding: 2%;
  text-decoration: none; 
  color: inherit; 
}

.vertical-bar {
  position: absolute;
  top: 0; 
  bottom: 0; 
  left: 50%; 
  width: 2px;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}

.svg-graphics {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
  margin-bottom: 50px; 
}

.svg-container {
  display: flex;
  align-items: center;
  margin-right: 40px; 
}

.svg-container img {
  width: 60px;
  height: auto;
  margin-right: 10px;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.text-container h1,
.text-container h3 {
  margin: 0;
}

.svg-graphics {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
}

.svg-container {
  margin: 20px;
}


.svg-container img {
  width: 60px; 
  height: auto; 
  margin-right: 20px; 
}


.text-container h5,
.text-container p {
  margin: 2px 0;
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px; 
}

.center-image {
  width: 100%;
  max-width: 100%; 
  height: auto;
  border-radius: 30px;
}

.image-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 90%;
}

.footer {
  margin-top: 50px;
}
